{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block content%}
<style>
    .kbw-signature { width: 400px; height: 200px; }
</style>
<script>
    $(function() {
       var sig = $('#request_manager_signature').signature();
       $('#request_manager_signature_clear').click(function() {
           sig.signature('clear');
       });

       $('#request_manager_signature_json').click(function() {
           $('#request_manager_signaturetext').val(sig.signature('toJSON'));
       });
});
</script>
<main>
    <div class="container-fluid px-4">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h4 class="text-center font-weight-light my-4">Malzeme Talep ve Teslim Formu</h4></div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token%}
                            <div class="row">
                                <div class="mb-3 col">
                                    <label for="material_name" class="form-label">1.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name" name="material_name">

                                    <label for="material_name1" class="form-label">2.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name1" name="material_name1">

                                    <label for="material_name2" class="form-label">3.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name2" name="material_name2">

                                    <label for="material_name3" class="form-label">4.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name3" name="material_name3">

                                    <label for="material_name4" class="form-label">5.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name4" name="material_name4">

                                    <label for="material_name5" class="form-label">6.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name5" name="material_name5">

                                    <label for="material_name6" class="form-label">7.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name6" name="material_name6">

                                    <label for="material_name7" class="form-label">8.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name7" name="material_name7">

                                    <label for="material_name8" class="form-label">9.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name8" name="material_name8">

                                    <label for="material_name9" class="form-label">10.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name9" name="material_name9">

                                    <label for="material_name10" class="form-label">11.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name10" name="material_name10">

                                    <label for="material_name11" class="form-label">12.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name11" name="material_name11">

                                    <label for="material_name12" class="form-label">13.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name12" name="material_name12">

                                    <label for="material_name13" class="form-label">14.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name13" name="material_name13">

                                    <label for="material_name14" class="form-label">15.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name14" name="material_name14">

                                    <label for="material_name15" class="form-label">16.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name15" name="material_name15">

                                    <label for="material_name16" class="form-label">17.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name16" name="material_name16">

                                    <label for="material_name17" class="form-label">18.MALZEME ADI</label>
                                    <input type="text" class="form-control" id="material_name17" name="material_name17">

                                    
                                </div>
                                <div class="mb-3 col">
                                    <label for="quantity_request" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request" name="quantity_request">

                                    <label for="quantity_request1" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request1" name="quantity_request1">

                                    <label for="quantity_request2" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request2" name="quantity_request2">

                                    <label for="quantity_request3" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request3" name="quantity_request3">

                                    <label for="quantity_request4" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request4" name="quantity_request4">

                                    <label for="quantity_request5" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request5" name="quantity_request5">

                                    <label for="quantity_request6" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request6" name="quantity_request6">

                                    <label for="quantity_request7" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request7" name="quantity_request7">

                                    <label for="quantity_request8" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request8" name="quantity_request8">

                                    <label for="quantity_request9" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request9" name="quantity_request9">

                                    <label for="quantity_request10" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request10" name="quantity_request10">

                                    <label for="quantity_request11" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request11" name="quantity_request11">

                                    <label for="quantity_request12" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request12" name="quantity_request12">

                                    <label for="quantity_request13" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request13" name="quantity_request13">

                                    <label for="quantity_request14" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request14" name="quantity_request14">

                                    <label for="quantity_request15" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request15" name="quantity_request15">

                                    <label for="quantity_request16" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request16" name="quantity_request16">

                                    <label for="quantity_request17" class="form-label">TALEP EDİLEN MİKTAR</label>
                                    <input type="text" class="form-control" id="quantity_request17" name="quantity_request17">
                                </div>
                            </div> 
                            <div class="row">
                                <div class="mb-3 col">
                                    <label for="total_requested_material" class="form-label">TOPLAM TALEP EDİLEN MALZEME</label>
                                    <input type="text" class="form-control" id="total_requested_material" name="total_requested_material">

                                    <label for="the_department_of_request_manager" class="form-label">İSTEĞİ YAPAN BÖLÜM YÖNETİCİSİ</label>
                                    <input type="text" class="form-control" id="the_department_of_request_manager" name="the_department_of_request_manager">

                                    <label for="manager_title" class="form-label">ÜNVAN</label>
                                    <input type="text" class="form-control" id="manager_title" name="manager_title">

                                    </br> 
                                    <button type="submit" name="materialSave" class="bi bi-save btn btn-outline-success"> Kaydet</button>
                                    &nbsp;
                                    <button type="button" name="materialPreview" onclick="materialPdf()" class="bi bi-filetype-pdf btn btn-outline-info"> PDF Önizleme</button>
                                </br>
                                </br>
                                    <button type="button" name="materialPrint" onclick="printForm()" class="bi bi-printer btn btn-outline-secondary"> Yazdır</button>
                                    &nbsp;
                                    <button type="reset" name="materialClear" class="bi bi-basket btn btn-outline-warning"> Temizle</button>
                                </div>
                                <div class="mb-3 col">
                                   

                                    <label for="material_request_date" class="form-label">TARİH</label>
                                    <input type="date" class="form-control" id="material_request_date" name="material_request_date" value="material_request_date">

                                    <div class="container row mb-3 col" style="display: block;">
                                    <label for="request_manager_signature" class="form-label">İMZA</label>
                                    <div class=" border border-5" id="request_manager_signature">
                                                
                                    </div>
                                    <textarea name="request_manager_signaturetext" id="request_manager_signaturetext" cols="30" rows="10" style="display: none;"></textarea>                                       
                                </div>
                                <div class="mb-3 col" style="display: block;"> 
                                   
                                    <button class="btn btn-outline-danger" type="button" id="request_manager_signature_clear" name="request_manager_signature_clear">Temizle</button> 
                                    &nbsp;
                                    <button class="btn btn-outline-success" type="button" id="request_manager_signature_json" name="request_manager_signature_json">İmzayı Kaydet</button>
                                </div>
                            </div> 
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function printForm(){
        window.print();
    }
</script>

{% endblock%}