{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block content%}
<main>
    <div class="container-fluid px-4">
        {% csrf_token %}
        <h1 class="mt-4">Ambulan Malzeme Kontrol Kayıtları Görüntüleme</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'index'%}">Ana Sayfa</a></li>
            <li class="breadcrumb-item active">Ambulans Malzeme Kontrol Tablosu</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Ambulans Malzeme Kontrol Tablosu
            </div>
            <div class="card-body">
                {% if AmbulanceMaterial %}
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Araç Plakası</th>
                            <th>Acil Çanta Kilit No:</th>
                            <th>Tarih</th>
                            <th>Saat</th>
                            <th>Sorumlu Personelin Adı Soyadı</th>
                            <th>Duzenle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Araç Plakası</th>
                            <th>Acil Çanta Kilit No:</th>
                            <th>Tarih</th>
                            <th>Saat</th>
                            <th>Sorumlu Personelin Adı Soyadı</th>
                            <th>Duzenle</th>
                            <th>Sil</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for material in AmbulanceMaterial %}
                        <tr>
                            <th scope="row">{{material.id}}</th>
                            <td >{{material.station_name}}</td>
                            <td>{{material.emergency_lock_number}}</td>
							<td>{{material.material_control_date}}</td>
							<td>{{material.material_control_time}}</td>
							<td>{{material.responsible_username}}</td>
                    <td>
						<a href="{% url 'editAmbulanceMaterial' material.id %}" data-placement="top" data-toggle="tooltip" title="Edit">
							<button class="bi bi-pencil-square btn btn-outline-warning" data-title="Edit" data-toggle="modal" data-target="#edit" > Düzenle</button></a></td>
                    <td>
                            <button type="button" class="bi bi-trash btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal_{{material.id}}">
                                Sil 
                            </button>
                         <div class="modal fade" id="exampleModal_{{material.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Kayit Sil</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>{{material.station_name}} Isimli Kaydı Silmek İstiyor musunuz?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Kapat</button>
                                    <a href="{% url 'deleteAmbulanceMaterial' material.id %}">
                                        <button  type="button" class="btn  btn-outline-danger">Sil</button>
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div> 
                       
						</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
              <div class="alert alert-warning">
                <p>
                  No Records Table
                </p>
              </div>
              {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}