{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block content%}
<main>
    <img src="{% static 'assets/img/Healmedy_Logo_Renkli-yeni.png' %}" id="logo" style="display: none;">
    <div class="container-fluid px-4">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h4 class="text-center font-weight-light my-4">Kayıt Güncelle</h4></div>
                    <div class="card-body">
                        <form action="{% url 'updateRecords' Records.id %}" method="POST" id="uregistrationForm">
                            {% csrf_token%}
                            {% comment %} {{print(request.method)}} {% endcomment %}
                            <div class="row">
                                <div class="mb-3 col">
                                    <label for="username" class="form-label">Ad Soyad</label>
                                    <input type="text" class="form-control" id="record_username" name="username" value="{{Records.username}}">
                                </div> 
                                <div class="mb-3 col">
                                    <label for="record_tel" class="form-label"> Telefon Numarası</label>
                                    <input type="text" class="form-control" id="record_tel" name="tel"  value="{{Records.tel}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label for="record_date" class="form-label">Kayıt Tarihi</label>
                                    <input type="date" class="form-control" id="record_date" name="date"  value="{{Records.date}}" >
                                </div>
                                <div class="mb-3 col">
                                    <label for="records_hour" class="form-label">Kayıt Saati</label>
                                    <input type="time" class="form-control" id="records_hour" name="hours"  value="{{Records.hours}}">
                                </div>
                              
                            </div> 

                            <div class="row">  
                                <div class="mb-3 col">
                                    <label for="record_tc_no" class="form-label">TC Numarası</label>
                                    <input type="text" class="form-control" id="record_tc_no" name="tcNo"  value="{{Records.tcNo}}" >
                                </div>
                                <div class="mb-3 col">
                                    <label for="record_adress" class="form-label">Adres/Köy</label>
                                    <input type="text" class="form-control" id="record_adress" name="adress"  value="{{Records.adress}}">
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="mb-3 col">
                                    <div class="row justify-content-start">
                                        <div class="col-4">
                                            <select class="form-select form-select-lg" name="kurum" id="record_kurum">
                                                <option {% if Records.kurum == '{{name.institutionName}}' %} selected  {%endif%}>{{Records.kurum}}</option>
                                                {% if institutionName%}
                                                    {% for name in institutionName %}
                                                        <option id="{{name.institutionName}}" value="{{name.institutionName}}">{{name.institutionName}}</option>
                                                    {%endfor%}
                                                {%endif%}          
                                            </select>
                                        </div>
                                        <!-- <div class="col-4">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#institutionModal" data-bs-whatever="@mdo">Kurum Ekle</button>
                                            <div class="modal fade" id="institutionModal" tabindex="-1" aria-labelledby="institutionModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="institutionModalLabel">Kurum Ekleme</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                      <form action="{% url 'saveInstitutionName'%}" method="POST">
                                                        <div class="mb-3">
                                                          <label for="institutionName" class="col-form-label">Kurum Adi:</label>
                                                          <input type="text" class="form-control" id="institutionName" name="institutionName">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                                      <button type="button" class="btn btn-primary">Kaydet</button>
                                                    </div>
                                                    </form>
                                                  </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="mb-3 col"> 
                                    <label for="record_doctor" class="form-label">Doktor</label> 
                                    <input type="text" class="form-control" id="record_doctor" name="doctor" value="{{Records.doctor}}">
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">   
                                    <label for="record_one_measurement" class="form-label">1. ÖLÇÜM</label>
                                    <input type="time" class="form-control" id="record_one_measurement" name="record_one_measurement" value="{{Records.record_one_measurement}}">
                                </div>
                                <div class="mb-3 col">   
                                    <label for="record_one_blood_pressure" class="form-label">1. TANSİYON</label>
                                    <input type="text" class="form-control" id="record_one_blood_pressure" name="record_one_blood_pressure"  value="{{Records.record_one_blood_pressure}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">   
                                    <label for="record_one_pulse" class="form-label">1.NABIZ</label>
                                    <input type="text" class="form-control" id="record_one_pulse" name="record_one_pulse" value="{{Records.record_one_pulse}}">
                                </div>
                                <div class="mb-3 col">   
                                    <label for="record_one_spo2" class="form-label">1.SPO2</label>
                                    <input type="text" class="form-control" id="record_one_spo2" name="record_one_spo2" value="{{Records.record_one_spo2}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">   
                                    <label for="record_one_respirations_min" class="form-label">1.SOLUNUM/DK</label>
                                    <input type="text" class="form-control" id="record_one_respirations_min" name="record_one_respirations_min" value="{{Records.record_one_respirations_min}}">
                                </div>
                                <div class="mb-3 col">   
                                    <label for="record_one_fire" class="form-label">1.ATEŞ</label>
                                    <input type="text" class="form-control" id="record_one_fire" name="record_one_fire" value="{{Records.record_one_fire}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">   
                                    <label for="record_second_measurement" class="form-label">2. ÖLÇÜM</label>
                                    <input type="time" class="form-control" id="record_second_measurement" name="record_second_measurement" value="{{Records.record_second_measurement}}">
                                </div>
                                <div class="mb-3 col">   
                                    <label for="record_second_blood_pressure" class="form-label">2. TANSİYON</label>
                                    <input type="text" class="form-control" id="record_second_blood_pressure" name="record_second_blood_pressure" value="{{Records.record_second_blood_pressure}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">   
                                    <label for="record_second_pulse" class="form-label">2.NABIZ</label>
                                    <input type="text" class="form-control" id="record_second_pulse" name="record_second_pulse" value="{{Records.record_second_pulse}}">
                                </div>
                                <div class="mb-3 col">   
                                    <label for="record_second_spo2" class="form-label">2.SPO2</label>
                                    <input type="text" class="form-control" id="record_second_spo2" name="record_second_spo2" value="{{Records.record_second_spo2}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">   
                                    <label for="record_second_respirations_min" class="form-label">2.SOLUNUM/DK</label>
                                    <input type="text" class="form-control" id="record_second_respirations_min" name="record_second_respirations_min" value="{{Records.record_second_respirations_min}}">
                                </div>
                                <div class="mb-3 col">   
                                    <label for="record_second_fire" class="form-label">2.ATEŞ</label>
                                    <input type="text" class="form-control" id="record_second_fire" name="record_second_fire" value="{{Records.record_second_fire}}">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">   
                                    <label for="record_third_measurement" class="form-label">3. ÖLÇÜM</label>
                                    <input type="time" class="form-control" id="record_third_measurement" name="record_third_measurement" value="{{Records.record_third_measurement}}">
                                </div>
                                <div class="mb-3 col">   
                                    <label for="record_third_blood_pressure" class="form-label">3.TANSİYON</label>
                                    <input type="text" class="form-control" id="record_third_blood_pressure" name="record_third_blood_pressure" value="{{Records.record_third_blood_pressure}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">   
                                    <label for="record_third_pulse" class="form-label">3.NABIZ</label>
                                    <input type="text" class="form-control" id="record_third_pulse" name="record_third_pulse" value="{{Records.record_third_pulse }}">
                                </div>
                                <div class="mb-3 col">   
                                    <label for="record_third_spo2" class="form-label">3.SPO2</label>
                                    <input type="text" class="form-control" id="record_third_spo2" name="record_third_spo2" value="{{Records.record_third_spo2}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">   
                                    <label for="record_third_fire" class="form-label">3.ATEŞ</label>
                                    <input type="text" class="form-control" id="record_third_fire" name="record_third_fire" value="{{Records.record_third_fire}}">
                                </div>
                                <div class="mb-3 col">   
                                    <label for="record_third_respirations_min" class="form-label">3.SOLUNUM/DK</label>
                                    <input type="text" class="form-control" id="record_third_respirations_min" name="record_third_respirations_min" value="{{Records.record_third_respirations_min}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col"> 
                                    <label for="record_diagnosis" class="form-label">Tanı</label>
                                    <textarea type="text" class="form-control" id="record_diagnosis" name="diagnosis" style="height: 100px">{{Records.diagnosis}}</textarea>   
                                    
                                </div>
                                <div class="mb-3 col">
                                    <label for="record_intervention" class="form-label">Müdahale</label>
                                    <textarea type="text" class="form-control" id="record_intervention" name="intervention" style="height: 100px">{{Records.intervention}}</textarea> 
                                   
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="mb-3 col">
                                    
                                    <!-- <label for="record_intervention" class="form-label">İlaçlar</label>
                                    <textarea type="text" class="form-control" id="record_medications" name="medications" style="height: 100px">{{Records.medications}}</textarea>  -->
                                    <div class="row" id="InputsWrapper">
                                        <div class="row justify-content-start">
                                            <!-- {% if Records.medications|length  %} -->
                                           
                                            <div class="col-4">
                                                {% for medication in Records.medications%}
                                                <div class="mb-3 col">
                                                    <label for="">İlaç Adı:</label>
                                                    <select class="form-select" name="medications" id="medications">
                                                        <option {% if medication == '{{medicationName.medicationName}}' %} selected  {%endif%}>{{medication}}</option>        
                                                        {% if medicationName%}
                                                            {% for medicationName in medicationName %}
                                                                <option value="{{medicationName.medicationName}}">{{medicationName.medicationName}}</option>
                                                            {%endfor%}
                                                        {%endif%}
                                                    </select>
                                                </div>
                                                {%endfor%}
                                            </div>            
                                            <!-- {%endif%} -->
                                            <div class="col-4">
                                            {% for scale_used in Records.scale_used%}
                                                
                                                <label for="scale_used" class="form-label">Kullanılan Ölçek</label>
                                                <input type="text" class="form-control scale_used" id="scale_used" name="scale_used" value="{{scale_used}}">
                                            {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <div class="col-4">
                                    </br>
                                        <button type="button" class="btn btn-primary" id="add_medications">İlaç Ekle+</button>
                                    </div>
                                </div>

                                <div class="mb-3 col"> 
                                    <label for="record_conclusion" class="form-label">Sonuç</label>
                                    <textarea type="text" class="form-control" id="record_conclusion" name="conclusion" style="height: 100px"  placeholder="Sonuç">{{Records.conclusion}}</textarea>
                                </div>
                            </div>
                            <div class="mb-3 col"> 
                                <button type="submit" name="uregistrationSave" class="bi bi-save btn btn-outline-success"> Kaydet</button>
                                    &nbsp;
                                <button type="button" name="uregistrationPreview" onclick="updateregistrationFormPdf()" class="bi bi-filetype-pdf btn btn-outline-info"> PDF Önizleme</button>
                                </br>
                                </br>
                                <button type="button" name="uregistrationPrint" onclick="printForm()" class="bi bi-printer btn btn-outline-secondary"> Yazdır</button>
                                &nbsp;
                                <button type="reset" name="uregistrationClear" class="bi bi-basket btn btn-outline-warning"> Temizle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function printForm(){
        window.print();
    }
</script>
<script>
    $(document).ready(function() {
        var MaxInputs = 20;
        var InputsWrapper =$("#InputsWrapper");
        var AddButton  =$("#add_medications");

        var x = InputsWrapper.length;
        var FieldCount = 1;

        $(AddButton).click(function(e)
        {
            if(x <= MaxInputs)
            {
                FieldCount++;
                $(InputsWrapper).append('<div class="row justify-content-start"><div class="col-4"><label for="">İlaç Adı:</label><select class="form-select form-select-lg" name="medications" id="medications_'+FieldCount+'"><option>Lütfen İlaç Seçiniz</option>{% if medicationName%}{% for medicationName in medicationName %}<option value="{{medicationName.medicationName}}">{{medicationName.medicationName}}</option>{%endfor%}{%endif%}</select></div><div class="col-4"><label for="scale_used" class="form-label">Kullanılan Ölçek</label><input type="text" class="form-control" id="scale_used_'+FieldCount+'" name="scale_used"></div></div>');
                x++;
            }
        return false;
        });
    });
</script>


{% endblock%}